body {
  margin: 0;
  background-color: #060426; /* Dark theme */
  color: #f9fafb;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* disable global scroll */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background: #060426;
  color: #f9fafb;
  border-bottom: 1px solid #2d2d54;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background: #060426;
  color: #f9fafb;
  border-top: 1px solid #2d2d54;
}

.main-content {
  flex: 1;
  margin-top: 70px;  /* push below navbar */
  margin-bottom: 150px; /* push above footer */
  overflow-y: auto;   /* scroll only here */
  padding: 1rem;

}
